In [2]:
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder
import os

In [3]:
df = pd.read_excel(r"C:\Users\ResTIC16\Downloads\Pasta2 (6).xlsx")

In [4]:
#df.info

<bound method DataFrame.info of          ID_CLIENTE   SITUACAO  ULTIMO_CORTE_INAD  ULTIMO_CANCELAMENTO  \
0               1.0     LIGADO                NaN                  NaN
1              31.0     LIGADO                NaN                  NaN
2              89.0     LIGADO                NaN                  NaN
3             120.0     LIGADO                NaN                  NaN
4             142.0  DESLIGADO            45960.0                  NaN
...             ...        ...                ...                  ...
1048570         NaN        NaN                NaN                  NaN
1048571         NaN        NaN                NaN                  NaN
1048572         NaN        NaN                NaN                  NaN
1048573         NaN        NaN                NaN                  NaN
1048574         NaN        NaN                NaN                  NaN

            CANAL  CIDADE_x       BAIRRO_x                    TAB_N1 GENERO  \
0        TELEFONE  SÃO LUÍS     P DO FAROL  SOLICITAÇÃO / INFORMAÇÃO      F
1        TELEFONE  SÃO LUÍS     RENASCENÇA                RECLAMAÇÃO      M
2        TELEFONE  SÃO LUÍS  PONTA D'AREIA  SOLICITAÇÃO / INFORMAÇÃO      M
3        TELEFONE  SÃO LUÍS  SAO FRANCISCO  SOLICITAÇÃO / INFORMAÇÃO      M
4        TELEFONE  SÃO LUÍS  JD RENASCENÇA  SOLICITAÇÃO / INFORMAÇÃO      M
...           ...       ...            ...                       ...    ...
1048570       NaN       NaN            NaN                       NaN    NaN
1048571       NaN       NaN            NaN                       NaN    NaN
1048572       NaN       NaN            NaN                       NaN    NaN
1048573       NaN       NaN            NaN                       NaN    NaN
1048574       NaN       NaN            NaN                       NaN    NaN

         IDADE_APROX  MESES  TICKET_MEDIO        SERVICO   TV  INT  TEL
0               71.0  153.0    182.609804  TV + INTERNET    1    1    0
1               79.0  153.0    217.589804  TV + INTERNET    1    1    0
2               49.0  144.0    300.916042  TV + INTERNET    1    1    0
3               74.0  155.0    176.909677  TV + INTERNET    1    1    0
4               71.0  149.0    236.099195       INTERNET    0    1    0
...              ...    ...           ...            ...  ...  ...  ...
1048570          NaN    NaN           NaN            NaN  NaN    0    1
1048571          NaN    NaN           NaN            NaN  NaN    0    1
1048572          NaN    NaN           NaN            NaN  NaN    0    1
1048573          NaN    NaN           NaN            NaN  NaN    0    1
1048574          NaN    NaN           NaN            NaN  NaN    0    1

[1048575 rows x 16 columns]>

In [5]:

# nome da coluna que tu quer analisar
coluna = "CIDADE_x"

# mostra so os valores únicos (sem repetição e sem vazios)
valores_unicos = df[coluna].dropna().unique()

# imprime cada valor único
for valor in valores_unicos:
    print(valor)

SÃO LUÍS
SÃO JOSÉ DE RIBAMAR
ITAPECURU MIRIM
PAÇO DO LUMIAR
RAPOSA
CHAPADINHA
VARGEM GRANDE
SANTA RITA
BARREIRINHAS
ROSÁRIO
SANTA INÊS
BACABEIRA